<div class="container mt-5">
  <h1><%= @task.title %></h2>

  <p><%= @task.details %></p>

  <% if @task.completed %>
    <i class="fa-regular fa-square-check"></i> This task is completed
  <% else %>
    <i class="fa-regular fa-square"></i> This task is not completed yet
  <% end %>

</div>

<div class="container mt-3">
  <%= link_to edit_task_path do %>
    <i class="fa-regular fa-pen-to-square"></i> Edit task
  <% end %>
</div>

<div  class=" container mt-3">
  <%= link_to task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
    <i class="fa-regular fa-trash-can"></i> Delete task
  <% end %>
</div>

<hr>
<div class="container">
  <%= link_to tasks_path do %>
    <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
  <% end %>
</div>
